/* #F0F8FF */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
}

/* header */

header {
  margin: 50px;
}

/* main */

#display {
  display: grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  height: 500px;
  width: 500px;
  border: 3px solid black;
}

.squares {
  border: 1px solid black;
  background-color: white;
}

/* Input */

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#form {
  margin: 10px;
}

#numInput {
  border: 3px solid black;
  padding: 3px;
  font-size: 16px;
}

#numInput:focus {
  outline: none;
}

#submit {
  padding: 5px;
  border: 3px solid black;
  color: white;
  background-color: black;
}
